.card {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  border: var(--ifm-global-border-width) solid var(--ifm-blockquote-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-tl);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}