.embedButton {
  border: var(--speakeasy-border-width) solid
    var(--speakeasy-button-border-color);
  background-color: var(--speakeasy-button-background-color);
  padding: var(--speakeasy-button-padding);
  border-radius: var(--speakeasy-button-radius);
}

.embedButton:hover {
  background-color: var(--speakeasy-button-background-color-hover);
  border-color: var(--speakeasy-button-border-color-hover);
}
