.container {
  padding-left: 0.75rem;
}

.linedContainer {
  border-inline: 1px solid var(--ifm-toc-border-color);
  margin-bottom: 1rem;
}

.header {
  display: flex;
}

.linedHeader {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  margin-bottom: 1rem;
}

.card {
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}