.header {
  display: flex;
  border-bottom: 1px solid var(--x-color-gray-200);
  border-radius: var(--x-radius-md);
  padding-bottom: 0.5rem;
}

.header:where(:global(.dark) *) {
  border-color: var(--x-color-neutral-800);
}

.title {
  flex: 1;
  color: var(--x-color-slate-900);
  font-weight: var(--x-font-weight-semibold);
  font-size: var(--x-text-2xl);
  line-height: var(--x-leading, var(--x-text-2xl--line-height));
}

.title:where(:global(.dark) *) {
  color: var(--x-color-slate-100);
}
