.container {
  padding-left: 0.75rem;
}

.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  margin: 0;
  border: none;
}

.linedContainer {
  border-inline: 1px solid var(--x-color-gray-200);
  margin-bottom: 1rem;
}

.linedContainer:where(:global(.dark) *) {
  border-inline: 1px solid var(--x-color-neutral-800);
}

.header {
  display: flex;
}

.linedHeader {
  border-bottom: 1px solid var(--x-color-gray-200);
  padding-bottom: 0.5rem;
  margin-block: 1rem;
}

.linedHeader:where(:global(.dark) *) {
  border-bottom: 1px solid var(--x-color-neutral-800);
}
