.connectingCellRow {
  display: flex;
  flex-direction: row;
}

.connectingCellContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
}

.connectingCellContent {
  padding-top: 5px;
  width: 100%;
}

.upperLeftConnectingCell {
  min-width: var(--speakeasy-expandable-cell-size);
  height: calc(5px + var(--speakeasy-expandable-cell-size));
}

.upperRightConnectingCell {
  min-width: calc(0.5rem + var(--speakeasy-expandable-cell-size));
  height: calc(5px + var(--speakeasy-expandable-cell-size));
}

.lowerLeftConnectingCell {
  min-width: var(--speakeasy-expandable-cell-size);
  min-height: var(--speakeasy-expandable-cell-size);
}

.lowerRightConnectingCell {
  min-width: calc(0.5rem + var(--speakeasy-expandable-cell-size));
  min-height: var(--speakeasy-expandable-cell-size);
}

.connectingCellContent {
  flex: 1;
}

.verticalConnected {
  border-right: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.horizontalConnected {
  border-bottom: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.emptyConnectingCell {
  min-width: calc(2 * var(--speakeasy-expandable-cell-size));
}
