.titleContainer {
  display: flex;
  align-items: center;
}

.tabs {
  padding-left: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.button {
  color: var(--ifm-font-color-base);
  border-color: var(--ifm-tabs-color-active-border);
  border: none;
  border-radius: var(--ifm-breadcrumb-border-radius);
  font-weight: bold;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
}

.button div[slot="tab"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button p {
  margin: 0;
}

.buttonInactive {
  background-color: var(--ifm-menu-color-background);
}

.buttonInactive:hover {
  background-color: var(--ifm-menu-color-background-hover);
  background: var(--ifm-breadcrumb-item-background-active);
}

.buttonActive {
  background: var(--ifm-breadcrumb-item-background-active);
  color: var(--ifm-breadcrumb-color-active);
  border-radius: var(--ifm-breadcrumb-border-radius);
}
