.titleContainer {
  display: flex;
  align-items: center;
}

.tabs {
  padding-left: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.button {
  border-radius: var(--speakeasy-tab-button-border-radius);
  font-weight: bold;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
}

.button div[slot="tab"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button p {
  margin: 0;
}

.buttonInactive {
  background-color: var(--speakeasy-tab-button-background-inactive);
  border: var(--speakeasy-tab-button-border-inactive);
  color: var(--speakeasy-tab-button-color-inactive);
}

.buttonInactive:hover {
  background-color: var(--speakeasy-tab-button-background-inactive-hover);
  border: var(--speakeasy-tab-button-border-inactive-hover);
  color: var(--speakeasy-tab-button-color-inactive-hover);
}

.buttonActive {
  background-color: var(--speakeasy-tab-button-background-active);
  border: var(--speakeasy-tab-button-border-active);
  color: var(--speakeasy-tab-button-color-active);
}

.buttonActive:hover {
  background-color: var(--speakeasy-tab-button-background-active-hover);
  border: var(--speakeasy-tab-button-border-active-hover);
  color: var(--speakeasy-tab-button-color-active-hover);
}
