.fieldEntry {
  padding-block: 1rem;
  padding-inline: 0.75rem;
  border-top: 1px solid var(--x-color-gray-200);
}

.fieldEntry > h2:first-child,
.fieldEntry > h3:first-child,
.fieldEntry > h4:first-child,
.fieldEntry > h5:first-child,
.fieldEntry > h6:first-child {
  margin-top: 0;
}

.fieldEntry:where(:global(.dark) *) {
  border-top: 1px solid var(--x-color-neutral-800);
}

.fieldEntry:last-child {
  border-bottom: 1px solid var(--x-color-gray-200);
}

.fieldEntry:last-child:where(:global(.dark) *) {
  border-bottom: 1px solid var(--x-color-neutral-800);
}