.pre {
  background-color: var(--speakeasy-code-background-color);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--speakeasy-code-border-radius);
  font-family: var(--speakeasy-font-mono);
  font-size: var(--speakeasy-code-font-size);
  vertical-align: middle;
}

.text {
  margin: 0;
}
