.pill {
  border-radius: var(--x-radius-md);
  padding: 2px 4px;

  /* Reset font size for cases where we're in a header */
  font-weight: var(--x-font-weight-normal);
}

.warning {
  border: color-mix(in oklab, var(--x-color-orange-400) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--x-color-orange-400) 5%, transparent);
  color: color-mix(in oklab, var(--x-color-orange-400) 80%, transparent);
}

.error {
  border: color-mix(in oklab, var(--x-color-red-500) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--x-color-red-500) 5%, transparent);
  color: color-mix(in oklab, var(--x-color-red-500) 80%, transparent);
}

.info {
  --info-color: var(--x-color-slate-700);
  border: color-mix(in oklab, var(--info-color) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--info-color) 5%, transparent);
  color: color-mix(in oklab, var(--info-color) 80%, transparent);
}

.info:where(:global(.dark) *) {
  --info-color: var(--x-color-slate-200);
}

.success {
  border: color-mix(in oklab, var(--ifm-color-success) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--ifm-color-success) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-success) 80%, transparent);
}

.primary {
  border: color-mix(in oklab, var(--x-color-primary-800) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
}

.secondary {
  border: color-mix(in oklab, var(--ifm-color-secondary) 20%, transparent) 1px solid;
  background-color: color-mix(in oklab, var(--ifm-color-secondary) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-secondary) 80%, transparent);
}
