.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  /* Normalize padding on headings across scaffolds */
  margin-top: 0;
  margin-bottom: 1rem;
}

.content > :last-child {
  margin-bottom: 0;
}

.paddingDefault {
  padding: 0.5rem 0.75rem;
}

.borderAll:not(:first-child) {
  border-top: var(--speakeasy-border-width) solid var(--speakeasy-border-color);
}
