.sidebarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--x-color-gray-200);
  border-radius: var(--x-radius-md);
  padding-bottom: 0.5rem;
}

.sidebarContainer:where(:global(.dark) *) {
  border-color: var(--x-color-neutral-800);
}

.sidebarTitle {
  font-weight: var(--x-font-weight-semibold);
  font-size: var(--x-text-lg);
  color: var(--x-color-slate-900);
}

.sidebarTitle:where(:global(.dark) *) {
  color: var(--x-color-slate-100);
}

.close {
  padding: 0 8px;
}
