.entryContainer {
  display: flex;
  flex-direction: column;
}

.entryHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.childContainer {
  display: flex;
  flex-direction: column;
}

.breakoutCellTitle {
  height: calc(2 * var(--speakeasy-expandable-cell-size));
  display: flex;
  align-items: center;
}

.propertyTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 0.5rem;
  width: 100%;
}

.propertyTitleContainer h1,
.propertyTitleContainer h2,
.propertyTitleContainer h3,
.propertyTitleContainer h4,
.propertyTitleContainer h5,
.propertyTitleContainer h6 {
  margin: 0;
  padding: 0;
}

.titleSlotContainer h1,
.titleSlotContainer h2,
.titleSlotContainer h3,
.titleSlotContainer h4,
.titleSlotContainer h5,
.titleSlotContainer h6 {
  margin: 0;
  padding: 0;
}

.typeInnerContainer,
.offscreenMeasureContainer {
  font-family: var(--speakeasy-font-mono);
  font-size: var(--speakeasy-property-type-font-size);
  text-wrap: nowrap;
}

.typeInnerContainer {
  padding: var(--speakeasy-pill-padding);
  background-color: var(--speakeasy-property-type-background-color);
  border-radius: var(--speakeasy-property-type-border-radius);
  border: 1px solid var(--speakeasy-property-type-border-color);
}

.typeInnerContainer a {
  scroll-behavior: smooth;
}

.typeInnerContainerInline {
  width: fit-content;
}

.typeInnerContainerMultiline {
  padding: 0.5rem 0.75rem;
}

/* For some reason, anchor tag styles are horribly butchered by something
   in Nextra, so we reset them to what they should be here */
.typeInnerContainer a {
  color: var(--speakeasy-anchor-color);
  text-decoration-line: underline;
}

.propertyTitlePrefixContainer {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding-right: 0.5rem;

  /*
   * We set a minimum height for the title container to ensure that the title
   * doesn't jank when switching between inline types and multiline types. We
   * need the title to be taller than the type container so the height of the
   * first row in the flexbox doesn't change on layout shift.
   */
  min-height: 2rem;
}

.offscreenMeasureContainer {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin: 0;
  padding: 0;
}
