:root {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-gray-200);
  --speakeasy-border-width: 1px;
  --speakeasy-border-radius-sm: var(--x-radius-sm);
  --speakeasy-border-radius-md: var(--x-radius-md);
  --speakeasy-border-radius-lg: var(--x-radius-lg);
  --speakeasy-font-mono: var(--x-font-mono);
  --speakeasy-anchor-color: var(--x-color-primary-600);

  /* Code specific variables */
  --speakeasy-code-background-color: var(--x-color-white);
  --speakeasy-code-border-radius: var(--x-radius-md);
  --speakeasy-code-font-size: var(--x-text-sm);

  /* Expandable specific variables */
  --speakeasy-expandable-button-radius: var(--speakeasy-border-radius-sm);
  --speakeasy-expandable-line-color: var(--x-color-gray-200);
  --speakeasy-expandable-line-color-active: var(--x-color-gray-900);
  --speakeasy-expandable-cell-size: 1rem;
  --speakeasy-expandable-cell-height-multiplier: 1.3;

  /* Pill specific variables */
  --speakeasy-pill-border-radius: var(--x-radius-md);
  --speakeasy-pill-padding: 2px 6px;
  --speakeasy-pill-font-family: var(--x-font-mono);
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-warning-background-color: color-mix(in oklab, var(--x-color-orange-400) 5%, transparent);
  --speakeasy-pill-warning-color: color-mix(in oklab, var(--x-color-orange-400) 80%, transparent);
  --speakeasy-pill-warning-border-color: color-mix(in oklab, var(--speakeasy-pill-warning-color) 30%, transparent);
  --speakeasy-pill-error-background-color: color-mix(in oklab, var(--x-color-red-500) 5%, transparent);
  --speakeasy-pill-error-color: color-mix(in oklab, var(--x-color-red-500) 80%, transparent);
  --speakeasy-pill-error-border-color: color-mix(in oklab, var(--speakeasy-pill-error-color) 30%, transparent);
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--x-color-slate-700) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--x-color-slate-700) 80%, transparent);
  --speakeasy-pill-info-border-color: color-mix(in oklab, var(--speakeasy-pill-info-color) 30%, transparent);
  --speakeasy-pill-primary-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-primary-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-primary-border-color: color-mix(in oklab, var(--speakeasy-pill-primary-color) 30%, transparent);
  --speakeasy-pill-secondary-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-secondary-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-secondary-border-color: color-mix(in oklab, var(--speakeasy-pill-secondary-color) 30%, transparent);
  --speakeasy-pill-success-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-success-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-success-border-color: color-mix(in oklab, var(--speakeasy-pill-success-color) 30%, transparent);

  /* Tab specific variables */
  --speakeasy-tab-button-border-radius: var(--speakeasy-border-radius-lg);

  --speakeasy-tab-button-color-inactive: var(--x-color-gray-500);
  --speakeasy-tab-button-color-inactive-hover: var(--x-color-gray-900);
  --speakeasy-tab-button-background-inactive: transparent;
  --speakeasy-tab-button-background-inactive-hover: var(--x-color-gray-100);
  --speakeasy-tab-button-border-inactive: none;
  --speakeasy-tab-button-border-inactive-hover: none;

  --speakeasy-tab-button-color-active: var(--x-color-gray-500);
  --speakeasy-tab-button-color-active-hover: var(--x-color-gray-500);
  --speakeasy-tab-button-background-active: var(--x-color-primary-100);
  --speakeasy-tab-button-background-active-hover: var(--x-color-primary-100);
  --speakeasy-tab-button-border-active: none;
  --speakeasy-tab-button-border-active-hover: none;

  /* Property specific variables */
  --speakeasy-property-type-font-size: var(--speakeasy-pill-font-size);
  --speakeasy-property-type-color: var(--x-color-primary-600);
  --speakeasy-property-type-background-color: var(--x-color-white);
  --speakeasy-property-type-border-radius: var(--speakeasy-border-radius-md);
  --speakeasy-property-type-border-color: color-mix(in oklab, var(--x-color-white) 80%, transparent);
}

/* Dark theme variable overrides */
:root:where(.dark) {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-neutral-800);

  /* Code specific variables */
  --speakeasy-code-background-color: var(--x-color-black);

  /* Pill specific variables */
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--x-color-slate-200) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--x-color-slate-200) 80%, transparent);
  --speakeasy-pill-info-border-color: color-mix(in oklab, var(--speakeasy-pill-info-color) 80%, transparent);

  /* Expandable specific variables */
  --speakeasy-expandable-line-color: var(--x-color-neutral-600);
  --speakeasy-expandable-line-color-active: var(--x-color-neutral-200);

  /* Tab specific variables */
  --speakeasy-tab-button-color-inactive: var(--x-color-gray-500);
  --speakeasy-tab-button-color-inactive-hover: var(--x-color-gray-50);
  --speakeasy-tab-button-background-inactive-hover: color-mix(in oklab, var(--x-color-primary-100) 5%, transparent);

  --speakeasy-tab-button-color-active: var(--x-color-primary-600);
  --speakeasy-tab-button-color-active-hover: var(--speakeasy-tab-button-color-active);
  --speakeasy-tab-button-background-active: color-mix(in oklab, var(--x-color-primary-400) 10%, transparent);
  --speakeasy-tab-button-background-active-hover: var(--speakeasy-tab-button-background-active);

  /* Property specific variables */
  --speakeasy-property-type-background-color: var(--x-color-black);
  --speakeasy-property-type-color: color: var(--x-color-slate-200);
  --speakeasy-property-type-border-color: color-mix(in oklab, var(--x-color-black) 80%, transparent);
}