.debugPlaceholder {
  border: 1px dashed red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  color: red;
  margin-bottom: 1rem;
}

.debugPlaceholder > p:last-child {
  margin-bottom: 0;
}