.pill {
  border-radius: var(--ifm-badge-border-radius);
  padding: 2px 4px;

  /* Reset font size for cases where we're in a header */
  font-weight: var(--ifm-font-weight-base);
  font-size: var(--ifm-code-font-size);
}

.warning {
  background-color: color-mix(in oklab, var(--ifm-color-warning) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-warning) 80%, transparent);
}

.error {
  background-color: color-mix(in oklab, var(--ifm-color-error) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-error) 80%, transparent);
}

.info {
  background-color: color-mix(in oklab, var(--ifm-color-info) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-info) 80%, transparent);
}

.success {
  background-color: color-mix(in oklab, var(--ifm-color-success) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-success) 80%, transparent);
}

.primary {
  background-color: color-mix(in oklab, var(--ifm-color-primary) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-primary) 80%, transparent);
}

.secondary {
  background-color: color-mix(in oklab, var(--ifm-color-secondary) 5%, transparent);
  color: color-mix(in oklab, var(--ifm-color-secondary) 80%, transparent);
}
