.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex-grow: 1;
}

.tabs {
  display: flex;
  gap: 0.3rem;
}

.button {
  color: var(--x-color-gray-500);
  border-radius: var(--x-radius-lg);
  font-weight: bold;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button div[slot="tab"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div[slot="tab"] > p {
  margin: 0;
}

.buttonInactive:hover {
  color: var(--x-color-gray-900);
  background-color: var(--x-color-gray-100);
}

.buttonInactive:hover:where(:global(.dark) *) {
  color: var(--x-color-gray-50);
  background-color: color-mix(in oklab, var(--x-color-primary-100) 5%, transparent);
}

.buttonActive {
  background-color: var(--x-color-primary-100);
}

.buttonActive:where(:global(.dark) *) {
  color: var(--x-color-primary-600);
  background-color: color-mix(in oklab, var(--x-color-primary-400) 10%, transparent);
}

.contents {
  display: flex;
  gap: 0.5rem;
}

.header {
  padding-bottom: 0.5rem;
}

.header div[slot="title"] {
  flex-grow: 1;
}
