.sidebarTrigger {
  padding: 8px 16px;
}
.sidebarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--speakeasy-border-color);
  border-radius: var(--speakeasy-radius-md);
  padding-bottom: 0.5rem;
}

.sidebarTitle {
  font-weight: bold;
}

.close {
  padding: 0 8px;
}
