/* Editor styles */
.editor {
  width: 100%;
  height: 100%;
}

.editorContainer {
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.editorContainer div[slot="editor"] {
  flex: 1;
  max-width: 100%;
}

/* Run button styles */
.runButtonContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 10;
}

.runButton {
  cursor: pointer;
  color: var(--speakeasy-try-it-now-run-button-color);
  background-color: var(--speakeasy-try-it-now-run-button-background-color);
  border-radius: var(--speakeasy-button-radius);
  padding: var(--speakeasy-button-padding);
  border: none;
  position: relative;
}

.runButton:active {
  transform: scale(0.95);
}

.results {
  flex: 1;
  font-family: var(--speakeasy-code-font-family);
  font-size: var(--speakeasy-code-font-size);
  display: flex;
  background-color: #1e1e1e;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  overflow-y: auto;
  color: var(--speakeasy-try-it-now-results-text-color);
}

.results pre {
  font-size: var(--speakeasy-code-font-size);
  padding: 1rem;
  line-height: 1.5;
  color: var(--speakeasy-try-it-now-results-text-color);
  background-color: transparent;
  white-space: break-spaces;
  margin: 0;
  border-radius: 0;
  border-bottom: 0.1rem solid var(--speakeasy-try-it-now-results-log-border-color);
}

.results pre.error {
  background-color: var(--speakeasy-try-it-now-results-error-background-color);
}

.results pre.warn {
  background-color: var(--speakeasy-try-it-now-results-warn-background-color);
}

.results pre.info {
  background-color: var(--speakeasy-try-it-now-results-info-background-color);
}

.results pre.log {
  background-color: transparent;
}

.results pre.primitiveValue {
  color: #569cd6;
}

.resultsContent {
  display: flex;
  flex-direction: column;
}

/* Layout styles */
.layout {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border: 0.1rem solid var(--speakeasy-border-color);
  border-radius: var(--speakeasy-code-border-radius);
  height: var(--speakeasy-code-sample-height);
}

/* Stack vertically on tablets and below */
@media screen and (max-width: 1200px) {
  .editorContainer {
    height: 250px;
  }

  .layout {
    display: grid;
    grid-template-rows: 250px;
    max-height: 800px;
    height: unset;
  }

  .layout:has(> :nth-child(2)) {
    grid-template-rows: 250px 200px;
  }

  .results {
    max-width: 100%;
  }
}
