:root {
  --mistral-warning-color: rgb(240, 73, 0);
  --mistral-error-color: rgb(170, 33, 47);
  --mistral-info-color: rgb(78, 84, 91);
  --mistral-success-color: rgb(52, 152, 219);
  --mistral-primary-color: rgb(227, 152, 106);
  --mistral-secondary-color: rgb(217, 217, 217);

  /* Generic variables */
  --speakeasy-border-color: rgb(185 194 198);
  --speakeasy-border-width: 1px;
  --speakeasy-border-radius-sm: 0.2rem;
  --speakeasy-border-radius-md: 0.5rem;
  --speakeasy-border-radius-lg: 1rem;
  --speakeasy-font-mono: "Geist", "ui-sans-serif", "system-ui", "sans-serif", "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  --speakeasy-anchor-color: white;

  /* Expandable specific variables */
  --speakeasy-expandable-button-radius: var(--speakeasy-border-radius-sm);
  --speakeasy-expandable-line-color: var(--speakeasy-border-color);
  --speakeasy-expandable-line-color-active: color-mix(in oklab, var(--speakeasy-border-color), black 50%);
  --speakeasy-expandable-cell-size: 1rem;
  --speakeasy-expandable-cell-height-multiplier: 1.3;
  --speakeasy-expandable-treetoper-diameter: 8px;

  /* Pill specific variables */
  --speakeasy-pill-border-radius: var(--speakeasy-border-radius-sm);
  --speakeasy-pill-padding: 2px 4px;
  --speakeasy-pill-font-family: var(--speakeasy-font-mono);
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-warning-background-color: color-mix(in oklab, var(--mistral-warning-color) 5%, transparent);
  --speakeasy-pill-warning-color: color-mix(in oklab, var(--mistral-warning-color) 80%, transparent);
  --speakeasy-pill-warning-border-color: var(--speakeasy-pill-warning-color);
  --speakeasy-pill-error-background-color: color-mix(in oklab, var(--mistral-error-color) 5%, transparent);
  --speakeasy-pill-error-color: color-mix(in oklab, var(--mistral-error-color) 80%, transparent);
  --speakeasy-pill-error-border-color: var(--speakeasy-pill-error-color);
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--mistral-info-color) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--mistral-info-color) 80%, transparent);
  --speakeasy-pill-info-border-color: var(--speakeasy-pill-info-color);
  --speakeasy-pill-success-background-color: color-mix(in oklab, var(--mistral-success-color) 5%, transparent);
  --speakeasy-pill-success-color: color-mix(in oklab, var(--mistral-success-color) 80%, transparent);
  --speakeasy-pill-success-border-color: var(--speakeasy-pill-success-color);
  --speakeasy-pill-primary-background-color: color-mix(in oklab, var(--mistral-primary-color) 5%, transparent);
  --speakeasy-pill-primary-color: color-mix(in oklab, var(--mistral-primary-color) 80%, transparent);
  --speakeasy-pill-primary-border-color: var(--speakeasy-pill-primary-color);
  --speakeasy-pill-secondary-background-color: color-mix(in oklab, var(--mistral-secondary-color) 5%, transparent);
  --speakeasy-pill-secondary-color: color-mix(in oklab, var(--mistral-secondary-color) 80%, transparent);
  --speakeasy-pill-secondary-border-color: var(--speakeasy-pill-secondary-color);

  /* Tab specific variables */
  --speakeasy-tab-button-border-radius: var(--speakeasy-border-radius-md);

  --speakeasy-tab-button-color-inactive: white;
  --speakeasy-tab-button-color-inactive-hover: white;
  --speakeasy-tab-button-background-inactive: color-mix(in oklab, var(--mistral-secondary-color) 40%, transparent);
  --speakeasy-tab-button-background-inactive-hover: color-mix(in oklab, var(--mistral-secondary-color) 50%, transparent);
  --speakeasy-tab-button-border-inactive: none;
  --speakeasy-tab-button-border-inactive-hover: none;

  --speakeasy-tab-button-color-active: white;
  --speakeasy-tab-button-color-active-hover: white;
  --speakeasy-tab-button-background-active: color-mix(in oklab, var(--mistral-primary-color) 85%, transparent);
  --speakeasy-tab-button-background-active-hover: color-mix(in oklab, var(--mistral-primary-color) 100%, transparent);
  --speakeasy-tab-button-border-active: none;
  --speakeasy-tab-button-border-active-hover: none;

  /* Property specific variables */
  --speakeasy-property-type-font-size: var(--speakeasy-pill-font-size);
  --speakeasy-property-type-color: white;
  --speakeasy-property-type-background-color: color-mix(in oklab, var(--mistral-secondary-color) 10%, transparent);
  --speakeasy-property-type-border-radius: var(--speakeasy-border-radius-sm);
  --speakeasy-property-type-border-color: color-mix(in oklab, var(--mistral-secondary-color) 50%, transparent);
};
