/* Reset margins, which vary between scaffolds */
.section h1:first-child,
.section h2:first-child,
.section h3:first-child,
.section h4:first-child,
.section h5:first-child,
.section h6:first-child {
  margin: 0;
}

.breakout {
  border-left: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  margin-left: 0.5rem;
}

.topLevel {
  padding-bottom: 2rem;
}
