.embedContainer {
  position: fixed;
  right: 0;
  top: 10%;
  height: 80%;
  width: 70%;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.2s ease-in-out;
  border-top-left-radius: var(--speakeasy-border-radius-lg);
  border-bottom-left-radius: var(--speakeasy-border-radius-lg);
  border: var(--speakeasy-border-width) solid var(--speakeasy-border-color);
  background-color: var(--speakeasy-background-color);
  padding: 0.5rem 1rem;
}

/* Reset margins, which vary between scaffolds */
.embedContainer h1:first-child,
.embedContainer h2:first-child,
.embedContainer h3:first-child,
.embedContainer h4:first-child,
.embedContainer h5:first-child,
.embedContainer h6:first-child {
  margin: 0;
}

.embedHeader {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  font-size: var(--speakeasy-embed-heading-font-size);
  font-weight: var(--speakeasy-embed-heading-font-weight);
}

.embedHeader > h2 {
  flex-grow: 1;
}

.embedButton {
  border: var(--speakeasy-border-width) solid var(--speakeasy-button-border-color);
  background-color: var(--speakeasy-button-background-color);
  padding: var(--speakeasy-button-padding);
  border-radius: var(--speakeasy-button-radius);
}

.embedButton:hover {
  background-color: var(--speakeasy-button-background-color-hover);
  border-color: var(--speakeasy-button-border-color-hover);
}