/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.95);
  }
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 150ms ease-in;
}

.dialogOverlay[data-state="closed"] {
  animation: fadeOut 150ms ease-in;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  border: var(--speakeasy-border-width) solid var(--speakeasy-border-color);
  padding: 1.5rem;
  border-radius: var(--speakeasy-border-radius-md);
  animation: zoomIn 200ms ease-out;
  overflow: auto;
  background-color: #fff; /* fallback color if --speakeasy-border-color is transparent*/
  background-image: linear-gradient(
    var(--speakeasy-background-color),
    var(--speakeasy-background-color)
  );

  width: 100%;
  max-width: var(--speakeasy-dialog-max-width);
  height: var(--speakeasy-dialog-height);
}

.dialogContent[data-state="closed"] {
  animation: zoomOut 200ms ease-in;
}

.closeButton {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: var(--speakeasy-border-radius-sm);
  transition: background-color 200ms;
  border: var(--speakeasy-button-border-color);
  cursor: pointer;
  padding: 0.25rem;
  background: var(--speakeasy-button-background-color);
}

.closeButton:hover {
  background: var(--speakeasy-button-background-color-hover);
  border-color: var(--speakeasy-button-border-color-hover);
}

.closeIcon {
  height: 100%;
  width: 100%;
}

.embedContent {
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
}

/* Reset margins, which vary between scaffolds */
.dialogContent h1:first-child,
.dialogContent h2:first-child,
.dialogContent h3:first-child,
.dialogContent h4:first-child,
.dialogContent h5:first-child,
.dialogContent h6:first-child {
  margin: 0;
}
