.container {
  display: flex;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.containerSingleLine {
  flex-direction: row;
  align-items: center;
}

.containerMutliline {
  flex-direction: column;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin: 0;
}

.containerSingleLine .typeContainer {
  flex-grow: 1;
}

.containerMutliline .typeContainer {
  width: 100%
}

.typeInnerContainer,
.offscreenMeasureContainer {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--speakeasy-pill-font-size);
  text-wrap: nowrap;
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-badge-border-radius);
}

.typeInnerContainer {
  padding: var(--speakeasy-pill-padding);
}

.typeInnerContainerInline {
  width: fit-content;
}

.typeInnerContainerMultiline {
  padding: 0.5rem 0.75rem;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding-right: 0.5rem;

  /*
   * We set a minimum height for the title container to ensure that the title
   * doesn't jank when switching between inline types and multiline types. We
   * need the title to be taller than the type container so the height of the
   * first row in the flexbox doesn't change on layout shift.
   */
  min-height: 2rem;
}

.offscreenMeasureContainer {
  position: absolute;
  left: -9999px;
  margin: 0;
  padding: 0;
}
