.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  /* Nextra doesn't add any margin in the bottom, which we want for content */
  margin-bottom: 1rem;
}

.content > :last-child {
  margin-bottom: 0;
}

.paddingDefault {
  padding: 0.5rem 0.75rem;
}

.borderAll:not(:first-child) {
  border-top: 1px solid var(--x-color-gray-200);
}

.borderAll:not(:first-child):where(:global(.dark) *) {
  border-top: 1px solid var(--x-color-neutral-800);
}
