.expandableCellContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--speakeasy-expandable-cell-height-multiplier) * var(--speakeasy-expandable-cell-size));
}

.expandableButtonContainer {
  min-width: calc(2 * var(--speakeasy-expandable-cell-size));
  padding: 3px;
}

.expandableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  border-style: solid;
  border-radius: var(--speakeasy-expandable-button-radius);
  cursor: pointer;
  padding: 5px;
  appearance: none;
  background-color: transparent;
  width: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
  height: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
}

.expandableButtonCircle {
  border-radius: 50%;
}

.expandableChevron {
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  color: var(--speakeasy-expandable-line-color);
}

.expandableConnectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.expandableConnection {
  min-width: var(--speakeasy-expandable-cell-size);
}
