.button {
  border: 1px solid var(--x-color-gray-200);
  border-radius: var(--x-radius-sm);
  padding-block: calc(var(--x-spacing) * 1);
  padding-inline: calc(var(--x-spacing) * 2);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem 0.5rem;
  font-weight: var(--x-font-weight-bold);
  margin-top: calc(var(--x-spacing) * 1);

  background-color: transparent;
}

.button:where(:global(.dark) *) {
  border-color: var(--x-color-neutral-800);
}

.buttonOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.title {
  display: flex;
  flex-grow: 1;
  padding-left: 0.25rem;
}
